# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Project ignored files
inc/ajax/spec.php
juzed.png
juzed53bc3f8bd3f25.png
palette-2.png
palette.png
todo.php
Wp Fullpage Banner.psd
banner-772x250.png
banner-1544x500.png